<div class="card mb-6">
  <header class="card-header card-header-title" style="background-color: rgb(184, 227, 234);">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/post/{{id}}"  class="has-text-black is-capitalized is-pulled-left" style="font-family: 'Chango', cursive; font-size: 20px">{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
            <div class="is-pulled-right">
                <b>{{user.username}}</b> <span style="color: rgb(248, 51, 232);"><i class="fas fa-rocket"></i></span>
                 | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>